@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans Thai', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-slate-900 text-slate-100 min-h-screen;
}
